footer {
    margin-top: 50px;
    background-color: #0A2238;
    padding: 30px 50px;
}

.footer_nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: 4px;
}

.footer_nav li a {
    color: #FFFFFF !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: none;
}



.footer_nav li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #4BD395;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}


.footer_nav li a:hover::after {
    transform: scale(1);
}

@media (max-width:1200px) {
    .footer_nav li a {
        font-size: 14px;
    }

    @media (max-width:1150px) {
        .footer_nav li a {
            font-size: 12px;
        }
    }

    @media (max-width:990px) {
        .footer_nav li a {
            font-size: 10px;
        }
    }

    @media (max-width:770px) {
        .footer_nav li a {
            font-size: 7px;
        }
    }