.usSurvey {
    background: url(../../src/assets/city.png) no-repeat center;
    background-size: cover;
    justify-content: center;
}

.usSurvey_leftBlock {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 0;
    padding-left: 0;
}

.usSurvey_leftBlock h2 {
    color: #FFFFFF;
    font-family: 'FiraSans', sans-serif;
    font-size: 50px;
}

.usSurvey_leftBlock h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 70%;
}

.usSurvey_leftBlock p {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.search_calct .form {
    margin: 50px auto;
    display: flex;
    justify-content: space-between
}

.search_calct .input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #bbbbbb;

    height: 57px;
    padding-left: 30px;

}

input[type="search"]::placeholder {
    widows: 100%;
    padding-right: 30px;
    text-overflow: clip;
}

.search_calct .form select {
    width: 100%;

    border: 1px solid #bbbbbb;
    height: 57px;
    padding-left: 20px;

}

.search_calct .btnS {

    width: 100%;

    text-align: center;
    padding-top: 15px;
    height: 57px;

    background-color: #4BD395;
}

.colum_two {
    margin-left: 25px;
}

.search_calct .btnS a {
    width: 100%;
    color: #FFFFFF !important;
    font-family: 'Montserrat',
        sans-serif;
    font-size: 16px;
}


@media(max-width:770px) {
    /* .usSurvey_leftBlock h2 {
        font-size: 40px;
    }

    .usSurvey_leftBlock h5 {
        font-size: 14px;
    }

    .usSurvey_leftBlock p {
        font-size: 10px;
    }

    .search_calct .btnS a {
        font-size: 10px;
    } */

    .form {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .colum_two {
        margin-left: 0;
    }

    .usSurvey_leftBlock h2,
    .usSurvey_leftBlock p,
    .usSurvey_leftBlock h5 {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 100%;
    }


    .search_calct .form select {
        margin-bottom: 20px;
    }
}

@media(max-width:550px) {
    .usSurvey_rightBlock {
        margin-left: 30px;
    }

    .usSurvey_leftBlock {
        text-align: center;
    }
}
